In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/samples.csv")

In [3]:
q_0_to_small = data.loc[data.q_0 < -1.6].idx
q_0_to_small

448    448
449    449
498    498
499    499
548    548
549    549
Name: idx, dtype: int64

In [4]:
recorded_twice = data.loc[(data.q_0 > 0.8) & (data.q_0 < 1.3) & (data.q_3 < -2.29) & (data.q_3 > -2.31) & (data.session_id > 4), "idx"]
recorded_twice

678    678
679    679
680    680
681    681
682    682
Name: idx, dtype: int64

In [5]:
illegal_indizes = pd.concat([q_0_to_small, recorded_twice])

In [6]:
list(illegal_indizes.index)

[448, 449, 498, 499, 548, 549, 678, 679, 680, 681, 682]

In [7]:
df = data.loc[~data.idx.isin(list(illegal_indizes.index))]

In [8]:
df

,idx,q_0,q_1,q_2,q_3,q_4,q_5,q_6,samples,SR,session_id,notes
0,0,-1.5708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
1,1,-1.4708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
2,2,-1.3708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
3,3,-1.2708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
4,4,-1.1708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
838,838,1.1300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
839,839,1.2300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
840,840,1.3300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
841,841,1.4300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
842,842,1.5300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,

In [9]:
data

,idx,q_0,q_1,q_2,q_3,q_4,q_5,q_6,samples,SR,session_id,notes
0,0,-1.5708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
1,1,-1.4708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
2,2,-1.3708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
3,3,-1.2708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
4,4,-1.1708,0.0,0.0,-0.3,0.0,1.5708,0.0,80896,16000,0,
...,...,...,...,...,...,...,...,...,...,...,...,...
838,838,1.1300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
839,839,1.2300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
840,840,1.3300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
841,841,1.4300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,
842,842,1.5300,0.0,0.0,-2.8,0.0,1.5708,0.0,80896,16000,7,

In [10]:
df.to_csv("data/samples.csv", index=False)

In [11]:
#illegal_indizes = [448, 449, 498, 499, 548, 549, 678, 679, 680, 681, 682] if you already cleaned samples.csv
import os
for idx in list(illegal_indizes):
    os.remove(f"./data/{idx}.wav")